#실행 파일
*.com
*.class
*.dll
*.exe
*.o
*.so

#문서
*.pptx
*.docx
*.ppt
*.pptx
*.xls
*.xlsx
*.pdf

#압축 파일
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.jar

#로그 파일, 업로드 폴더
*.log
upload/
logs/

#맥, 윈도우 시스템 파일 제외
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

#이클립스 설정 파일
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.externalToolBuilders/
*.launch
.classpath
.factorypath
.buildpath
.target
.tern-project
.springBeans
.recommenders/
